.item_directive_close_editing,
.item_directive_open_editing,
.checked_item_directive_element,
.checked_item_directive,
.heart_pointer,
.heart_pointer_margin,
.image_url_active
{
    cursor: pointer;
}

.heart_pointer_margin{
    margin: 0 20px 0 0;
}

.directive_item_checked_border,
.error_red_border
{
    border: 1px solid #c9302c;
}

.red_color,
.error_message_text
{
    color: red;
}

.checked_item_directive,
.item_directive_close_editing,
.item_directive_open_editing
{
    margin: 0 0 0 5px;
}

.smaller_alert{
    padding-top: 9px;
    height: 40px;
}

.directive_item_style
{
    display:inline-block;
    float: left;
    margin: 3px 3px 3px 0;
}

.error_message_text
{
    margin: 10px 0 0 0;
}

.textarea_no_resizing{
    resize: none;
}

.black_default_badge{
    background-color: #222;
}

.green_background,
.green_badge{
    background-color: #4cae4c;
}

#join_us_button{
    margin:0 0 10px 0;
}

.in_cookbook{
    color: #d9534f;
}

.red_badge,
.red_background{
    background-color: #d9534f;
}

.statistic_font,
.green_badge{
    font-size: 23px;
}

.green_badge{
    margin: 0 0 5px 0;
}

.blue_badge{
    background-color: #5bc0de
}

.white_link{
    color: #ffffff !important;
}

.center_text{
    text-align: center;
}

.one_hundred_match{
    border: 2px solid #4cae4c;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

#forgot_password{
    color:grey;
    font-size: 12px;
}

.match_percent{
    font-size: 26px;
}

.ingredient_font{
    font-size: 16px;
    margin: 7px 7px 0 0;
    display: inline-block;
}

.center_image{
    display: block;
    margin: 0 auto;
}

.recipe_description{
    border: 1px solid #e5e5e5;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    padding: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

#accurate_search{
   width: 45px;
}

.alert_danger_too_much_ingredients{
    margin-bottom: -2px;
}

#myCarousel{
    height: 300px;
}