#first_slide{
    background-image:url("../img/website/4.jpg");
}

#second_slide{
    background-image:url("../img/website/2.jpg");
}

#third_slide{
    background-image:url("../img/website/3.jpg");
}