.item_directive_close_editing,
.item_directive_open_editing,
.checked_item_directive_element,
.checked_item_directive
{
    cursor: pointer;
}

.directive_item_checked_border,
.error_red_border
{
    border: 1px solid red;
}

.red_color,
.error_message_text
{
    color: red;
}

.checked_item_directive,
.item_directive_close_editing,
.item_directive_open_editing
{
    margin: 0 0 0 5px;
}

.directive_item_style
{
    display:inline-block;
    float: left;
    margin: 3px 3px 3px 0;
}

.error_message_text
{
    margin: 10px 0 0 0;
}

.textarea_no_resizing{
    resize: none;
}

.red_background{
    background-color: red;
}

.green_background{
    background-color: green;
}